*.iml
.idea/**

*.war
*.ear
logs
nbproject
hs_err_pid*

target/

# cp
.classpath
.project
.settings/
!/ext-lib/*.jar
*.class


.mtj.tmp/

build/
.gradle/

.factorypath

.vscode/*

docs/
*-sdk/README.md
